body {
  background: #000;
}
h1, h3 {
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  color: #fff;
}

#container {
  padding: 2px;
}
canvas {
  display: block;
  border: 1px solid #000;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  max-width: 100%;
  max-height: 100%;  
}
.buttonContainer {
  display: none;
}

@media only screen 
  and (min-device-width : 320px) 
  and (max-device-width : 480px){ 
    .buttonContainer {
      display: inline;
      text-align: center;
    }
}

.button {
  width: 45px;
  height: 45px;
  border: 1px solid white;
  text-align: center;
  color: #fff;
  background-color: #000;
  cursor: pointer;
  display: inline-block;
}
.blankBox {
  width: 45px;
  height: 45px; 
  display: inline-block;
  border: 1px solid #000;
}
.button:active{
  border: 1px solid black;  
  color: #000;
  background-color: #fff; 
}
.buttonRow {
  display: inline-block;
  width: 100%;
}